.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.register-card {
	text-align: center;
}

.card-center{
	margin: auto;
	margin-top: 15%;
	width: 25em ;
	border-radius: 8px;
}

.form-group {
	padding-top: 2em;
}


mat-form-field {
	width: 20em;
}